html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
.App{
  position: fixed;
  height: 100vh;
  width: calc(100vw - 82px);
  padding: 0px;
  margin: 0px;
  right: 0;
  top: 0;

}
.App .container-fluid{
  position: inherit;
  width: inherit;
  height: inherit;
  margin : 0px;
  padding: 0px;
}
tbody {
  display:block;
  height:calc(100vh - 170px);
  overflow: scroll;
}
thead, tbody tr {
  display:table;
  white-space: pre-wrap;
  width:100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
::-webkit-scrollbar {
  width: 0px;
}

.reg-icon{
  position: relative;
  font-size: 1.5em !important;   
}
.progress .reg-icon :hover{
  color:red ;
}

.menu-toolbar {
  height: 40px;
  width: fit-content;
  z-index: 1070 !important; 
  position: fixed;
  overflow: hidden;
}
.menu-toolbar > *{
  z-index: 1072 !important; 
}

.loader-24 {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}
.loader-16-button {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid  #f3f3f3; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button {
  width: max-content;
}